<div *ngIf="isRegistered" class="success">{{message}}</div>
<div *ngIf="isError" class="danger">{{message}}</div>
<form #signUpForm="ngForm" (ngSubmit)="onSubmit(signUpForm)">
  <p>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" [(ngModel)]="name" required />
  </p>
  <p>
    <label for="username">User Name</label>
    <input
      type="text"
      id="username"
      name="username"
      [(ngModel)]="username"
      required
    />
  </p>
  <p>
    <label for="password">Password</label>
    <input
      type="text"
      id="password"
      name="password"
      [(ngModel)]="password"
      required
    />
  </p>
  <p>
    <label for="repeatPassword">Repeat Password</label>
    <input
      type="text"
      id="repeatPassword"
      name="repeatPassword"
      [(ngModel)]="repeatPassword"
      required
    />
  </p>
  <button type="submit" [disabled]="!signUpForm.valid">Submit</button>
</form>
