<h5>Title: {{ song.title }}</h5>
<h5>Publish Year: {{ song.publish_year }}</h5>
<br>
<h4 *ngIf="song.artists.length > 0">Artists</h4>
<ul>
<li *ngFor="let artist of song.artists"
(click)="goToArtist(song._id, artist._id)">
  <span
    
  >
    {{ artist.name }}
  </span>
</li>
</ul>
<br />
<br />
<div *ngIf="isAuth">
<button class="delete" type="button" (click)="deleteSong()">delete</button>
<button type="button" (click)="goToAddArtist()">add artist</button>
<button type="button" (click)="goToEditSong()">edit song</button>
<button type="button" (click)="goToUpdateSong()">update song</button>
</div>
<br />
<br />
